@import url('https://fonts.googleapis.com/css2?family=Nunito');
:root{
    --color-primary-1: #FD377E ;
    --color-primary-2: #E34981;
    --color-secundary: #03b898 ;

    --color-gray-4: #212529;
    --color-gray-3: #868e96;
    --color-gray-2: #e9ecef;
    --color-gray-1: #f8f9fa;

    --font-family: 'Nunito', sans-serif;
}